.greeting {
  font-size: 50px;
}



.description {
  position: relative;
  font-size: 24px ;


}
.hr {
color: black;f

}

.bob {
color: #080808;


}

.center {
  text-align: center;
}

.Line {
  border-color: #D4D4D4 ;
}

.intro {
  font-size: 1.5em;
}

#left-hobby {
	color: #47A3FF;
}
#center-hobby {
	color: #33FF33;
}

#right-hobby {
	color: #FF6600;
}

.intro {
	color: #00B88A;
}

.description {
	color: #FF66CC;
}

.container2 {
	padding-bottom: 3em;
	padding-top: 3em;
	padding-right: 3em;
	padding-left: 3em;
}


