.greeting {
  font-size: 50px;
}



.description {
  position: relative;
  font-size: 24px ;


}
.hr {
color: black;f

}

.bob {
color: #080808;


}

.center {
  text-align: center;
}

.Line {
  border-color: #D4D4D4 ;
}

.intro {
  font-size: 1.5em;
}

.col-md-3 {
	color: #47A3FF;
}
.col-md-5 {
	color: #33FF33;
}

.col-md-4 {
	color: #FF6600;
}

.row {
	position: relative;
  left: 30px;
}

.intro {
	color: #00B88A;
}

.description {
	color: #FF66CC;
}

.container2 {
	padding-bottom: 3em;
	padding-top: 3em;
	padding-right: 3em;
	padding-left: 3em;
}

.whole {
	background-color: 	#E0F0FF;
}




